/*-------------Global Styling---------------*/

body {
    font-size: 100%;
    background-color: #1d1f21;
    font-family: 'Montserrat', sans-serif;
}

#pageWrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#headerWrapper {
    width: 100%;
}

#contentWrapper {
    display: flex;
    width: 65%;
    min-height: 850px;
    color: white;
}

@media (max-width: 767px) {
    #contentWrapper {
        width: 90%;
    }
}

/*-------------Navbar Styling---------------*/

.navbar {
    min-height: 70px;
    background-color: slategray;
}

#navbarHeader {
    display: flex;
    align-items: center;
    height: 70px;
    width: 100%;
}

#innerNavbarWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#navbarLogo {
    display: flex;
    justify-content: left;
    align-items: center;
    /*width: 30%;*/
}

#navbarMain {
    display: flex;
    justify-content: right;
    align-items: center;
    /*width: 70%;*/
}

#logo {
    font-size: 2em;
    text-decoration: none;
    color: white;
    transition: color .2s;

}

#logo:hover {
    color: #1d1f21;
    transition: color .2s;
}

.navButton {
    padding: 21.5px 40px;
}

.navLink {
    color: white;
    font-size: 1.25em;
    transition: color .2s;
}

.navLink:hover {
    color: #1d1f21;
    text-decoration: none;
    transition: color .2s;
}

@media (max-width: 913px) {
    #innerNavbarWrapper {
        flex-direction: column;
    }
    #navbarLogo {
        width: 100%;
        justify-content: center;
    }
}

/*-------------Footer Styling---------------*/

#footerWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    background-color: slategray;
}


#footerWrapper p {
    margin: 0px;
    font-size: .75em;
}

/*------------Homepage Styling--------------*/

#contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#homeColumns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}

#leftHomeColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#leftHomeColumn p {
    padding-right: 10px;
}

#rightHomeColumn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}

#headshot {
    max-height: 600px;
    width: 100%;
}

#leftHomeColumn > h1 {
    text-align: center;
}

@media (max-width: 767px) {
    #homeColumns {
        flex-direction: column-reverse;
   }

   #leftHomeColumn {
       width: 100%;
   }

   #leftHomeColumn p {
       padding-right: 0px;
   }

   #rightHomeColumn {
       width: 100%;
   }
}

/*------------Portfolio Styling-------------*/

#portfolioWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


/*------------Contact Styling---------------*/

#contactsWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}